* {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}
/* nav */
.user-detail-wrapper {
  height: 29px;
  width: 69px;
  margin-top: 8px;
  margin-right: 100px;
}
#user-nav {
  font-size: 15px;
  width: 90px;
  height: 29px;
}
#on-nav-modal {
  /* position: fixed; */
  right: 300px;
}
#logo {
  border-radius: 10px;
  background: url(./image/doglogo1.png) no-repeat;
  /* background-position: center center center; */
  background-size: 100% 100%;
  height: 200%;
  width: 80px;
  line-height: 1.3;
}
#logo:hover {
  cursor: pointer;
}
#btn-log-in-nav {
  color: black;
  background: whitesmoke;
  margin-right: 21px;
}
.nav-wrapper {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid lightgrey;
}

.nav-container {
  width: 100%;

  background-color: #fff;
  height: 70px;
}
.nav-holder > * {
  margin-top: 11px;
}
.nav-holder {
  width: 1200px;

  display: flex;
  justify-content: space-between;
  margin: auto;
}
.nav-drop-down {
  position: fixed;
  /* margin-left: 29px; */
  /* right: 32px; */
  /* top: 1rem; */
  /* right: 100px; */
  /* bottom: 10rem; */
  /* top: 10px; */
  /* background: #d41872; */
  margin-left: 760px;
  border: none;
  /* width: 40px; */
  /* height: 40px; */
}
.drop-on-nav > button {
  background: #f4f4f4;
  color: black;
  font-weight: 500;
  border: none;
  margin-left: 40px;
}
.drop-on-nav > button:hover {
  background: white;
  color: black;
}
.drop-on-nav {
  width: 0px;
  margin-top: 5px;
}

#nav-search {
  min-width: 70px;
  text-align: center;
  color: #9b9b9b;
  line-height: 37px;
}
/* .nav-holder > * { */
/* margin-right: 15px; */
/* padding: 5px; */
/* border-radius: 15px; */
/* } */
.nav-right {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
#search-btn {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-top: 10px;
}

.nav-right .nav-btn > button {
  width: 95px;
  height: 38px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background: #d41872;
  border-radius: 11px;
  border: none;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
.search {
  width: 400px;
  display: flex;
  background-color: #f4f4f4;
  padding-left: 7px;
  margin-left: 40px;
  border-radius: 5px;
  max-height: 40px;
}
.search > input {
  width: 300%;
  height: 38px;
  background-color: #f4f4f4;
  border: none;
  /* border-radius: 10px; */
  outline: none;
}
/* suggest bar */
.sg-bar-list {
  display: flex;
  /* justify-content: space-around; */
  /* text-align: center; */
  margin-left: 0px;
}
.sg-bar-list > * {
  padding: 0px 22px;
  line-height: 44px;
}
.suggest-bar-content {
  margin: 0px 200px;
  font-weight: 400;
  line-height: 1.3;
}

.suggest-bar {
  height: 50px;
  background-color: lightgray;
  border-bottom: 1px solid gray;
  /* width: 11px; */
}
.item > * {
  font-size: 16px;
}
/* banner */
.banner-container {
  display: flex;
}
.left-banner {
  width: 618px;

  margin-left: auto;
}
.right-banner {
  padding-top: 40px;
  margin-left: 20px;
  margin-right: auto;
  width: 469px;
}
/* register */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: 100px; */
  background: url("./image/foodiesfeed.com_messy-pizza-on-a-black-table.jpg")
    center no-repeat;
  background-size: cover;
}
.register-form {
  height: 429px;
  border-radius: 7px;

  min-width: 500px;
  background: white;
  padding: 0px 50px;
}
.form-header {
  padding: 20px 0px;
}
.form-header > h3 {
  text-align: center;
  font-size: 32px;
  font-family: Poppins-Bold;
  font-weight: 600;
  color: #333;
}
.form-content > * {
  margin-bottom: 10px;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
}
.name-wrapper > * {
  width: calc(50% - 5px);
}

.form-footer {
  display: flex;
  justify-content: space-between;
}
/* log in */
.log-in-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./image/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg")
    center no-repeat;
  background-size: cover;
}

.log-in-form {
  height: 299px;
  min-width: 500px;
  background: whitesmoke;
  padding: 0px 50px;
  border-radius: 10px;
}
/* .log-in-form-div {
  padding: 299px;
} */

.message-error {
  color: #ff0000;
}
.message-success {
  color: green;
}

.input-wrapper > input {
  width: 100%;
  height: 38px;
  padding: 10px;
  border: 1px solid #eae9ea;
  border-radius: 5px;
}

.form-footer > button {
  border: none;
  width: 120px;
  height: 38px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background: #d41872;
  border-radius: 11px;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  background: #f2f2f2;
}
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
#search-btn-cover:hover {
  cursor: pointer;
}

/* img */

.slide-img {
  width: 618px;
  height: 411px;
  padding-top: 40px;

  /* display: flex; */
  /* justify-content: flex-end; */
}
.carousel-inner {
  border-radius: 7px;
}
.carousel-item {
  height: 360px;
}
/* home */
.home-container {
  padding-top: 69px;
  background-color: #f1f1f1;
}
i:hover {
  cursor: pointer;
}
/* food suggestion */

.food-suggestion {
  /* width: 700px; */
  height: 120px;
}
.top {
  background: url(./image/food.jpg);
  background-size: 100% 100%;
  border-radius: 7px 7px 0px 0px;
  /* display: flex; */
}
.mid {
  background: url(./image/pen.jpg);
  background-size: 100% 100%;
}
.bot {
  background: url(./image/cofe.jpg);
  background-size: 100% 100%;
  border-radius: 0px 0px 7px 7px;
}

.text {
  font-size: 0.96em;
  color: white;
  background: #ffd2aa;
  opacity: 0.91;
  font-weight: 629;
  text-align: center;
}
.top {
  border-radius: 7px 7px 0px 0px;
}
.text:hover {
  cursor: pointer;
}
/* post */
#dropdownMenuButton {
  width: 139px;
}
.main-food-type {
  color: white;
}
#dropdownMenuButtoncity {
  width: 139px;
}

.post-message-error {
  color: red;
  margin-left: 21px;
  margin-bottom: 5px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}
.food-type {
  margin-bottom: 11px;
  padding-left: 21px;
}
.city {
  margin-bottom: 11px;
  padding-left: 21px;
}
#exampleModalCenterTitle {
  padding-left: 40px;
}
#profile-img-tag {
  max-height: 180px;
  margin-bottom: 11px;
  margin-left: 96px;
  border-radius: 5px;
}
#img-button-update {
  margin-bottom: 11px;
  margin-left: 21px;
  display: none;
}

/* .img-upload-wrapper {
  width: 185px;
  margin-bottom: 11px;
  margin-left: 90px;
}
.img-upload-wrapper:hover {
  cursor: pointer;
} */
.img-update {
  width: 185px;
  height: 185px;
  background: #f1f1f1;
}
.add-image {
  margin-left: 20px;
  margin-bottom: 11px;
  width: 96px;
}

#modal-btn {
  position: fixed;
  right: 21px;
  /* bottom: 10rem; */
  bottom: 10px;
  background: #d41872;
  border: none;
  width: 40px;
  height: 40px;
}
.btn-post-wrapper {
  background-color: #f1f1f1;
  /* position: absolute; */
}
.post {
  /* margin-left: ; */
  margin-bottom: 11px;
  width: 100%;
  height: 29px;
  background-color: #f1f1f1;
  border-radius: 7px;
  border: none;
  outline: none;
  padding: 10px;
  height: 35px;
}
.food-container {
  display: flex;
}
.fd {
  width: 21px;
  padding-right: 5px;
  padding-top: 10px;
}
.ava {
  /* max-width: 30px; */
  /* height: 10px; */
}
.food {
  background: url(https://tea-6.lozi.vn/v1/images/resized/do-an-1500526800);
}
.food-type {
}
/* .post {
  background-color: gray;

  margin-left: 175px;
  color: white;
  font-weight: bold;
  overflow: hidden;
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  /* position: absolute; */
/* left: 50%; */
/* top: 72%; */
/* text-decoration: none; */
/* } */
/* support */
.support {
  padding-left: 20px;
  line-height: 3;
}
.mail > * {
  width: 140px;
}
.phone > * {
  width: 90px;
}

/* Hoang */
/* list-food  */
.address {
  color: #9b9b9b;
}
.article {
  width: 1110px;
  margin: auto;
  margin-top: 20px;
}

.title-list-food {
  font-size: 22px;
  font-weight: bold;

  margin-bottom: 20px;
}

.list-food-wrapper {
  display: flex;
  margin: 0px 0px -14px;
}
.food-wrapper {
  width: 205px;
  margin-bottom: 10px;
}

.food-contents {
  width: 185px;
  background: #fff;
  border-radius: 0px 0px 6px 6px;
}

.food-contents > * {
  padding: 1px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  padding-top: 1px;
  border-top: 1px solid #e4e4e4;
}

.view-all {
  text-align: right;
}
.view-all > * {
  font-weight: 700;
}
.img-food {
  margin: 0px;
}

.img-food > * {
  border-radius: 6px 6px 0px 0px;
  width: 185px;
  height: 185px;
  margin-left: auto;
  margin-right: auto;
}
/* dẹo */
/* dẹo */
.turn-off-rbg {
  border-bottom: solid 2px lightgrey;
}
.content-container {
  background: #f1f1f1;
}
.content-wrapper {
  padding-top: 100px;
  margin: auto;
  width: 1111px;
}
.image-details {
  display: flex;
}
.img {
  width: 185px;
  height: 185px;
  border-radius: 10px;
}
.ten-quan {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 555;
  font-size: 150%;
  font-weight: 700;
}
.gia-tien {
  display: flex;
}
.money {
  margin-left: 5px;
  font-weight: 500;
  color: #ed3554;
}
.link-dia-chi {
  color: rebeccapurple;
}
.anh {
  max-width: 100%;
  width: 185px;
  height: 185px;
  padding-left: 200px;
}
.chitiet {
  display: flex;
  color: blue;
  margin-left: 187px;
  margin-top: 10px;
}
.name-review {
  display: contents;
  margin-bottom: 5px;
  font-weight: 555;
  font-size: 100%;
}
.ava {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.btn-scroll-top1 {
  bottom: 80px;
  position: fixed;
  right: 20px;
  z-index: 111;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
#iconfb {
  font-size: 30px;
  margin-left: 23px;
  color: rebeccapurple;
}
.btn-scroll-top2 {
  bottom: 40px;
  position: fixed;
  right: 20px;
  z-index: 111;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.btn-scroll-top3 {
  bottom: 0px;
  position: fixed;
  right: 20px;
  z-index: 111;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.comment {
  overflow: hidden;
  width: 299px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
tr:hover {
  cursor: pointer;
}
.spinner-border {
  height: 60px;
  width: 60px;
  margin: 329px 855px;
}
